{
  "env": {
    "browser": "true",
    "es2021": "true",
    "jest/globals": "true"
  },
  "extends": [
    "plugin:react/recommended",
    "airbnb"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "12",
    "sourceType": "module"
  },
  "settings": {
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true
      }
    }
  },
  "plugins": [
    "react",
    "jest",
    "@typescript-eslint"
  ],
  "rules": {
    "semi": "off",
    "import/extensions": "off",
    "import/no-extraneous-dependencies": ["error", {"devDependencies": ["**/*.spec.ts", "**/*.spec.tsx"]}],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx", ".ts", ".tsx"] }],
    "no-use-before-define": "off",
    "arrow-body-style": "off",
    "import/prefer-default-export": "off",
    "object-curly-newline": "off",
    "no-param-reassign": "off",
    "implicit-arrow-linebreak": "off",
    "indent": "off",
    "comma-dangle": "off",
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": "error",
    "lines-between-class-members": "off",
    "class-methods-use-this": "off",
    "react/require-default-props": "off",
    "no-confusing-arrow": "off",
    "function-paren-newline": "off",
    "operator-linebreak": "off"
  }
}
